<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimxlp.managerdb">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TransferDealsActivity"
            android:label="Transfer Deals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectManagerActivity"
            android:label="Select Manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoanedOutPlayersActivity"
            android:label="Loaned Out Players"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShortlistPlayersActivity"
            android:label="Shortlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShortlistActivity"
            android:label="Shortlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormerPlayersListActivity"
            android:label="Former Players"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YouthTeamListActivity"
            android:label="Youth Team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YouthTeamActivity"
            android:label="Youth Team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirstTeamListActivity"
            android:label="First Team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirstTeamActivity"
            android:label="First Team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComparisonActivity"
            android:label="Compare Players"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ManageTeamActivity" />
        <activity
            android:name=".CreateManagerActivity"
            android:label="Create Manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8349697523222717~9153640751" />

    </application>

</manifest>